.image-row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
  background-color: aliceblue;
}

/* Create four equal columns that sits next to each other */
.image-column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.image-column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Extra small devices (phones, 600px and down) */
@media screen and (min-width: 0px) and (max-width: 599.98px) {
  .image-column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (min-width: 600px) and (max-width: 959.98px) {
  .image-column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 960px) and (max-width: 1279.98px) {
  .image-column {
    -ms-flex: 33%;
    flex: 33%;
    max-width: 33%;
  }
}
